<!doctype html>
<html>
    <head>
        <title>HBUHSD Help Desk</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="/static/js/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery-ui-1.8.20.custom.min.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap-modal.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap-tooltip.js"></script>
        <script type="text/javascript" src="/static/js/underscore-min.js"></script>
        <script type="text/javascript" src="/static/js/backbone-min.js"></script>
        <script type="text/javascript" src="/static/js/handlebars.js"></script>
        <script type="text/javascript" src="/static/js/chosen.jquery.min.js"></script>

        <script type="text/javascript" src="/static/js/admin_tickets.js"></script>

        <link rel="shortcut icon" href="/static/favicon.ico" />
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/css/bootstrap-responsive.min.css" />
        <link rel="stylesheet" href="/static/css/jquery-ui-1.8.20.custom.css" />
        <link rel="stylesheet" href="/static/css/chosen.css" />

        <link rel="stylesheet" href="/static/css/help_desk.css" />

        {% raw %}
        <script id="ticketListTemplate" type="text/x-handlebars-template">
            <a href="#" {{#if ticket.closed}}style="color:darkgrey;"{{/if}}>
                <strong>#{{ticket.id}}</strong>
                {{ticket.type}}
                {{ticket.submitted_by}}
                {{ticket.submitted_on}}
                <div class="pull-right">
                    {{#if ticket.elevated}}<i class="icon-arrow-up"></i>{{/if}}
                    {{#if ticket.priority}}<i class="icon-exclamation-sign"></i>{{/if}}
                    {{#if ticket.closed}}<i class="icon-ok"></i>
                    {{else}}<i class="{{icon}} favMe"></i>{{/if}}
                </div>
            </a>
        </script>

        <script id="appHeaderTemplate" type="text/x-handlebars-template">
            <div class="row">
                <div class="span8">
                    <h3>Support Ticket Administration: {{options.username}}</h3>
                    <ul style="list-style: none;">
                        <li><strong>Open Tickets:</strong> {{options.openTickets}}</li>
                        <li><strong>Closed Tickets:</strong> {{options.closedTickets}}</li>
                        <!--<li><strong>Oldest Ticket:</strong> {{options.oldestTicket}}</li>
                        <li><strong>Average Age:</strong> {{options.averageAge}}</li>-->
                    </ul>
                </div>
                <div id="filterOptions" class="span3" style="border-left:10px solid #08c;padding-left:10px;padding-bottom:10px;">
                    <h3>Display Settings</h3>
                    <select id="displayOptions">
                        <option value="Open">Open</option>
                        <option value="Closed">Closed</option>
                        <option value="All">All</option>
                    </select>
                    <br>
                    <input id="displaySearch" class="input" type="text" placeholder="Filter Term"/>
                </div>
            </div>
        </script>

        <script id="singleTicketTemplate" type="text/x-handlebars-template">
            <div class="span3">
                <h3>Notes:</h3>
                <ul id="ticketNotes" style="list-style:none;">
                    {{#each notes}}
                    <li class="ticketNote">
                        <i class="icon-remove removeMe" note-id="{{this.id}}" style="margin-right:5px;"></i>
                        {{#if this.assigned_to}}
                        <em rel="tooltip" class="noteInformation" style="color:#08c;" title="From:{{this.submitted_by}} To:{{this.assigned_to}}">
                            {{this.message}}
                        </em>
                        {{else}}
                        <span rel="tooltip" class="noteInformation" title="From:{{this.submitted_by}}">
                            {{this.message}}
                        </span>
                        {{/if}}
                    </li>
                    {{/each}}
                    <li id="addNote"><h6>Add Note...</h6></li>
                </ul>
            </div>
            <div class="span4">
                <h3>Ticket: {{ticket.id}} For: {{ticket.submitted_by}}</h3>
                <div id="reassign" class="sortme" value="{{ticket.assigned_to}}"><strong>Assigned To:</strong> {{ticket.assigned_to}}</div>
                <strong>Site:</strong> {{ticket.site}}<br/>
                <strong>Submitted On:</strong> {{ticket.submitted_on}}<br/>
                <strong>User:</strong> {{ticket.user_type}}<br/>
                <strong>Equipment:</strong> {{ticket.type}}<br/>
                <strong>Room/Building:</strong> {{ticket.macro}}<br/>
                <strong>In Room:</strong> {{ticket.micro}}<br/>
                <div id="inventory"><strong>Inventory:</strong> {{ticket.inventory}}</div>
                <strong>Description:</strong> {{ticket.description}}<br/>
                {{#if ticket.elevated}}
                <strong>Elevated On:</strong> {{ticket.elevated_on}}<br/>
                <strong>Elevated By:</strong> {{ticket.elevated_by}}<br/>
                <strong>Reason for Elevation:</strong> {{ticket.elevated_reason}}<br/>
                <button id="deelevate" class="btn btn-primary btn-mini">De-Elevate</button><br/>
                {{else}}
                {{/if}}
                {{#if ticket.closed}}
                <strong>Completed By:</strong> {{ticket.completed_by}}<br/>
                <strong>Completed On:</strong> {{ticket.completed_on}}<br/>
                <button id="reopen" class="btn btn-primary btn-mini">Reopen</button><br/>
                {{else}}
                <button id="prioritize" class="btn btn-mini">Prioritize</button>
                {{/if}}
                {{#if ticket.closed}}
                {{else}}
                <hr>
                <div style="text-align:center;">
                    <select id="elevationMeta" data-placeholder="Elevation Metadata..." class="chzn-select span3">
                    {{#each options.elevatedMeta}}
                        <optgroup label="{{name}}">
                        {{#types}}
                            <option>{{this}}</option>
                        {{/types}}
                        </optgroup>
                    {{/each}}
                    </select>
                    <br>
                    <button id="elevateMe" style="margin-top:10px;" {{#if ticket.elevated}}disabled{{/if}}>
                        {{#if ticket.elevated}}
                        Elevated
                        {{else}}
                        Elevate
                        {{/if}}
                    </button>
                </div>
                <hr>
                <div style="text-align:center;">
                    <select id="completedMeta" data-placeholder="Closure Meta..." multiple class="chzn-select span3">
                    {{#each options.completeMeta}}
                        <option>{{this}}</option>
                    {{/each}}
                    </select>
                    <br>
                    <button id="closeMe" class="btn btn-primary">Close Ticket</button>
                </div>
                {{/if}}
            </div>
        </script>
        {% endraw %}

        <script>
            $(document).ready(function(){
                manageTickets = new HelpDesk({
                    el: $('#layoutAppHeader'),
                    parameters: { user_name: "{{page_params['user_name']}}" },
                });
            });
        </script>
    </head>
    <body>
        <div class="container" style="margin-top:50px;">
            <div id="layoutAppHeader" class="row" style="border-radius:15px;border-bottom:10px solid #08c;border-top:10px solid #08c;"></div>
            <div class="row" style="margin-top:10px;">
                <div id="layoutSingleTicket" class="span8">
                    <h3>Select a Ticket</h3>
                </div>
                <div id="layoutTicketList" class="span4">
                    <h3>Tickets</h3>
                    <ul class="nav nav-pills nav-stacked"></ul>
                </div>
            </div>
            <div class="row">
                <div id="layoutFooter">
                    <div class="footer" style="text-align:center;">
                        <hr>
                        GAE Help Desk via Flask Backbone.js Handlebars.js Twitter Bootstrap on Python/Google App Engine
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

