{% extends "layout.html" %}
{% block title %}{{ page_params['title'] }}{% endblock %}
{% block brand %}{{ page_params['title'] }}{% endblock %}

{% block script %}
<script>
    var Ticket = Backbone.Model.extend({
        elevate: function(){
            return true;
        },
        closeTicket: function(){
            return true;
        },
        addNote: function(){
            return true;
        },
    });

    var Tickets = Backbone.Collection.extend({
        model: Ticket,
        url: '/tickets',
        closed: function(){
            return true;
        },
        open: function(){
            return true;
        },
    });

    var SingleTicket = Backbone.View.extend({
        events: {
            "dblclick .addNote": "addNote",
        },
        initialize: function(){
            var self = this;
            self.model.bind('change', self.render, self);
            self.notesRendered = self.renderNotes();
        },
        render: function(){
            var self = this;
            var thisTicket = self.model.attributes;
            $(self.el).html('<div class="span6 well">'+
                thisTicket.id+
                '</div><div class="span3 well addNote">'+
                self.notesRendered+
                '</div>'
                );
            return self
        },
        addNote: function(){
            console.log('addNote...');
        },
        renderNotes: function(){
            console.log('renderNotes...');
            var self = this;
            var thisTicket = self.model.attributes;
            var theseMessages = thisTicket.ticketNotes;
            var thisHTML = "";
            for (var i=0;i<=theseMessages.length-1;i++){
                thisHTML+="<p>"+theseMessages[i]+"</p>";
            };

            return thisHTML;
        },
    });

    var TicketView = Backbone.View.extend({
        tagName: 'tr',
        events: {
            "click .closeTicket": "closeTicket",
            "dblclick": "expandTicket",
        },
        initialize: function(){
            this.model.bind('change', this.render, this);
        },
        render: function(){
            var self = this;
            var thisTicket = self.model.attributes;
            $(self.el).html("<td>"+thisTicket.ticketSubmittedBy+
                    "</td><td>"+thisTicket.ticketType+
                    "</td><td>"+thisTicket.ticketUserType+
                    "</td><td>"+thisTicket.ticketMacroLocation+
                    "</td><td>"+thisTicket.ticketSubmittedOn+
                    "</td><td>"+"<a class=\"btn btn-primary btn-mini closeTicket\">Close</a>"+
                    "</td>");
            return self;
        },
        contextMenu: function(e){
            e.preventDefault();
            console.log('contextMenu...');
        },
        expandTicket: function(){
            console.log('expandTicket...');
            var thisTicket = new SingleTicket({
                model: this.model,
            });
            $('#ticketExpand').html(thisTicket.render().el);
        },
        closeTicket: function(){
            console.log('closeTicket...');
        },
    });

    var HelpDesk = Backbone.View.extend({
        tickets: new Tickets(),
        initialize: function(options){
            var self = this;
            self.tableHeader = "<h3>Open Tickets:</h3>";
            self.columnHeaders = "<tr>\
                <th>SubmittedBy</th>\
                <th>Type</th>\
                <th>User</th>\
                <th>Room</th>\
                <th>SubmittedOn</th>\
                <th>Close</th>\
            </tr>";
            self.delegateEvents();

            self.tickets.bind('add', self.addOne, self);
            self.tickets.bind('reset', self.addAll, self);
            self.tickets.bind('all', self.render, self);

            self.tickets.fetch();
        },
        render: function(){
            var self = this;
            $('thead', self.el).append(self.tableHeader);
            $('thead', self.el).append(self.columnHeaders);
        },
        addOne: function(ticket){
            var self = this;
            var view = new TicketView({
                model: ticket,
            });
            $('tbody', self.el).append(view.render().el);
        },
        addAll: function(){
            this.tickets.each(this.addOne);
        },
    });

    $(document).ready(function(){
        manageTickets = new HelpDesk({el: $('table')});
    });
</script>
{% endblock %}

{% block top %}
<div style="text-align:center;">
    <h1>{{ page_params['title'] }}</h1>
    <h6>{{ page_params['message'] }}</h6>
</div>
{% endblock %}

{% block content %}
<div class="row" id="ticketExpand"></div>
<div class="row" id="ticketList">
    <div class="span10">
        <table class="table table-striped table-condensed">
            <thead>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}
