<!doctype html>
<html>
    <head>
        <title>HBUHSD Help Desk</title>
        <script type="text/javascript" src="/static/js/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery-ui-1.8.20.custom.min.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap-modal.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap-tooltip.js"></script>
        <script type="text/javascript" src="/static/js/underscore-min.js"></script>
        <script type="text/javascript" src="/static/js/backbone-min.js"></script>
        <script type="text/javascript" src="/static/js/handlebars.js"></script>
        <script type="text/javascript" src="/static/js/chosen.jquery.min.js"></script>

        <link rel="shortcut icon" href="/static/favicon.ico" />
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/css/bootstrap-responsive.min.css" />
        <link rel="stylesheet" href="/static/css/jquery-ui-1.8.20.custom.css" />
        <link rel="stylesheet" href="/static/css/chosen.css" />

        <link rel="stylesheet" href="/static/css/Support_Ticket.css" />

        {% raw %}
        <script id="ticketListTemplate" type="text/x-handlebars-template">
            <a href="#">
                <strong>#{{ticket.id}}</strong>
                {{ticket.ticketType}}
                {{ticket.ticketSubmittedBy}}
                {{ticket.ticketSubmittedOn}}
                <i class="{{icon}} pull-right favMe"></i>
            </a>
        </script>

        <script id="appHeaderTemplate" type="text/x-handlebars-template">
            <div class="row">
                <div class="span8">
                    <h3>Support Tickets For: {{options.username}}</h3>
                    <ul style="list-style: none;">
                        <li><strong>Open Tickets:</strong> {{options.openTickets}}</li>
                        <li><strong>Closed Tickets:</strong> {{options.closedTickets}}</li>
                        <!--<li><strong>Oldest Ticket:</strong> {{options.oldestTicket}}</li>
                        <li><strong>Average Age:</strong> {{options.averageAge}}</li>-->
                    </ul>
                </div>
                <div class="span3" style="border-left:10px solid #08c;padding-left:10px;padding-bottom:10px;">
                    <h3>Display Settings</h3>
                    <select id="displayOptions">
                        <option value="open">Open</option>
                        <option value="closed">Closed</option>
                        <option value="all">All</option>
                    </select>
                    <br>
                    <input id="displaySearch" class="input" type="text" placeholder="Search Term"/>
                    <button id="setFilter" class="btn btn-primary">Filter</button>
                </div>
            </div>
        </script>

        <script id="singleTicketTemplate" type="text/x-handlebars-template">
            <div class="span3">
                <h3>Notes:</h3>
                <ul id="ticketNotes" style="list-style: none;">
                    {{#each ticket.ticketNotes}}
                    <li class="ticketNote" rel="tooltip" title="{{this.noteSubmittedBy}}"><i class="icon-remove removeMe" note-id="{{this.noteId}}" style="margin-right:5px;"></i>{{this.noteMessage}}</li>
                    {{/each}}
                    <li id="addNote"><h6>Add Note...</h6></li>
                </ul>
            </div>
            <div class="span4">
                <h3>Ticket: {{ticket.id}} For: {{ticket.ticketSubmittedBy}}</h3>
                <p><strong>Submitted On:</strong> {{ticket.ticketSubmittedOn}}</p>
                <p><strong>User:</strong> {{ticket.ticketUserType}}</p>
                <p><strong>Equipment:</strong> {{ticket.ticketType}}</p>
                <p><strong>Room/Building:</strong> {{ticket.ticketMacroLocation}}</p>
                <p><strong>In Room:</strong> {{ticket.ticketMicroLocation}}</p>
                <p><strong>Completed By:</strong> {{ticket.ticketCompletedBy}}</p>
                <p><strong>Completed On:</strong> {{ticket.ticketCompletedOn}}</p>
                <p><strong>Description:</strong> {{ticket.ticketDescription}}</p>
                <hr>
                <div style="text-align:center;">
                    <select data-placeholder="Elevation Metadata" class="chzn-select span3">
                    {{#each options.elevatedMeta}}
                        <optgroup label="{{name}}">
                        {{#types}}
                            <option>{{this}}</option>
                        {{/types}}
                        </optgroup>
                    {{/each}}
                    </select>
                    <br>
                    <button id="elevateMe" style="margin-top:10px;" class="btn{{options.elevatedDisabled}}">{{options.elevatedText}}</button>
                </div>
                <hr>
                <button id="closeMe" class="btn btn-primary">Close Ticket</button>
            </div>
        </script>
        {% endraw %}

        <script>
            var META_LIST = [
                {
                    "name": "Alarm Security",
                    "types": [
                    "CCTV Security",
                    "Fire Alarm",
                    "Security System",
                    ]
                },
                {
                    "name": "Audio Visual",
                    "types": [
                    "Camera",
                    "CCTV TV System",
                    "DVD",
                    "TV",
                    "Pro VCR",
                    ]
                },
                {
                    "name": "Communication",
                    "types": [
                    "Networking",
                    "Network Equipment",
                    "Telephone Install",
                    "Telephone Repair",
                    "Two-Way Radio",
                    "Voice Mail Repair",
                    ]
                },
                {
                    "name": "Computer System",
                    "types": [
                    "Computer",
                    "Computer Upgrade",
                    "IT Install Kit",
                    "IT Lockdown",
                    "Monitor",
                    "PC Install Kit",
                    "PC Lockdown",
                    "Printer",
                    ]
                },
                {
                    "name": "Office Equipment",
                    "types": [
                    "Document Reader",
                    "Time Stamp",
                    "Typewriter",
                    ]
                },
                {
                    "name": "Pa/Clock",
                    "types": [
                    "Clock",
                    "Local PA",
                    "School Main PA",
                    ]
                },
                {
                    "name": "Projectors",
                    "types": [
                    "LCD Projector",
                    "Overhead Projector",
                    "Pole Vault",
                    ]
                },
                {
                    "name": "Other Equipment",
                    "types": [
                    "Score Board",
                    "Theater Dimming System",
                    ]
                },
            ];

            var Ticket = Backbone.Model.extend({
                urlRoot: "/ticket",
                elevate: function(){
                    return true;
                },
                closeTicket: function(){
                    return true;
                },
                addNote: function(){
                    return true;
                },
                toggleStar: function(){
                    var self = this;
                    self.save({
                        ticketStarred: !self.get("ticketStarred"),
                    });
                },
                addNote: function(note){
                    var self = this;
                    var theseNotes = self.get("ticketNotes");
                    if (theseNotes.length == 0){
                        theseNotes.push({noteMessage: note});
                    } else {
                        for (var i=0;i<=theseNotes.length-1;i++){
                            if (theseNotes[i].noteMessage == note){
                                break;
                            } else {
                                theseNotes.push({noteMessage: note});
                                break;
                            };
                        };
                    };
                    self.save();
                },
                removeNote: function(note){
                    var self = this;
                    var theseNotes = self.get("ticketNotes");
                    for (var i=0;i<=theseNotes.length-1;i++){
                        if (theseNotes[i].noteId == note){
                            theseNotes.pop(i);
                        }
                    }
                    self.save();
                },
            });

            var Tickets = Backbone.Collection.extend({
                model: Ticket,
                url: '/tickets',
                initialize: function(){
                },
                closed: function(){
                    var self = this;
                    var closedTickets = [];
                    for (var i=1;i<=self.length;i++){
                        if (self.get(i).attributes.ticketCompletedOn !== 'None'){
                            closedTickets.push(self.get(i));
                        };
                    };
                    return closedTickets;
                },
                open: function(){
                    var self = this;
                    var openTickets = [];
                    for (var i=1;i<=self.length;i++){
                        if (self.get(i).attributes.ticketCompletedOn == 'None'){
                            openTickets.push(self.get(i));
                        };
                    };
                    return openTickets;
                },
                elevated: function(){
                    var self = this;
                    var elevatedTickets = [];
                    for (var i=1;i<=self.length;i++){
                        if (self.get(i).attributes.ticketElevated){
                            elevatedTickets.push(self.get(i));
                        };
                    };
                    return elevatedTickets;
                },
                comparator: function(ticket){
                    return -ticket.get("ticketStarred");
                },
            });

            //Single ticket view in window
            var SingleTicket = Backbone.View.extend({
                events: {
                    "dblclick #addNote": "getNote",
                    "keypress #newNote": "addNote",
                    "dblclick .removeMe": "removeNote",
                    "click #closeMe": "closeTicket",
                    "click #elevateMe": "elevateTicket",
                },
                initialize: function(){
                    var self = this;
                    self.model.bind('change', self.render, self);
                },
                render: function(){
                    var self = this;
                    var thisTicket = self.model.attributes;
                    var source = $('#singleTicketTemplate').html();
                    var template = Handlebars.compile(source);
                    var options = {
                        elevatedButton: function(thisTicket){
                            if(thisTicket.ticketElevated){
                                return ' disabled';
                            } else {
                                return '';
                            }
                        },
                        elevatedText: function(thisTicket){
                            if(thisTicket.ticketElevated){
                                return 'Elevated';
                            } else {
                                return 'Elevate';
                            }
                        },
                        elevatedMeta: META_LIST,
                    }
                    var html = {
                        elevatedMeta: function(){
                            for(var i=0;i<=META_LIST.length-1;i++){
                                console.log(META_LIST[i]);
                            };
                        },
                    }

                    var context = {
                        ticket: thisTicket,
                        options: options,
                    }
                    var source = template(context);
                    $(self.el).html(source);
                    self.delegateEvents();
                    return self;
                },
                closeTicket: function(){
                    console.log('closeTicket...');
                },
                elevateTicket: function(){
                    console.log('elevateTicket...');
                },
                getNote: function(){
                    var self = this;
                    $('#addNote', self.el).remove();
                    $('#ticketNotes', self.el).append('<li id="newNoteList"><input id="newNote" type="text" class="input" /></li>');
                    $('#newNote').focus();
                },
                addNote: function(e){
                    var self = this;
                    var note = $('#newNote', self.el).val();
                    if(!note || e.keyCode !== 13){
                        return;
                    }
                    self.model.addNote(note);
                    self.render();
                },
                removeNote: function(e){
                    var self = this;
                    var thisNote = $(e.srcElement).attr('note-id');
                    self.model.removeNote(thisNote);
                    self.render();
                },
            });

            //Ticket view in the list
            var TicketView = Backbone.View.extend({
                tagName: "li",
                className: "ticketListItem",
                events: {
                    "click .closeTicket": "closeTicket",
                    "click": "expandTicket",
                    "click .favMe": "toggleStar",
                },
                initialize: function(){
                    var self = this;
                    self.model.bind('change', self.render, self);
                },
                render: function(){
                    var self = this;
                    var starred = 'icon-star-empty';
                    var thisTicket = self.model.attributes;
                    if (thisTicket.ticketStarred){
                        starred = 'icon-star';
                    }
                    var source = $('#ticketListTemplate').html();
                    var template = Handlebars.compile(source);
                    var context = {
                        ticket: thisTicket,
                        icon: starred,
                    }
                    var source = template(context);
                    $(self.el).html(source);
                    return self;
                },
                contextMenu: function(e){
                    e.preventDefault();
                },
                toggleStar: function(){
                    var self = this;
                    self.model.toggleStar();
                },
                expandTicket: function(){
                    var self = this;
                    $('.ticketListItem').each(function(){
                        $(this).removeClass('active');
                    });
                    $(self.el).addClass('active');
                    var thisTicket = new SingleTicket({
                        model: this.model,
                    });
                    $('#layoutSingleTicket').html(thisTicket.render().el);
                    $('.ticketNote').each(function(){
                        $(this).tooltip({
                            placement: 'left',
                        });
                    });
                    $('.chzn-select').chosen({allow_single_deselect:true});
                },
                closeTicket: function(){
                },
            });

            //Base application view
            var HelpDesk = Backbone.View.extend({
                tickets: new Tickets(),
                events: {
                    "click #setFilter": "setFilter",
                },
                initialize: function(options){
                    var self = this;
                    self.displayOptions = 'open';
                    self.delegateEvents();
        
                    self.tickets.bind('all', self.addAll, self);
                    self.tickets.bind('all', self.render, self);
        
                    self.tickets.fetch();
                },
                render: function(){
                    var self = this;
                    var source = $('#appHeaderTemplate').html();
                    var template = Handlebars.compile(source);
                    var context = {
                        options: {
                            username: "{{page_params['user_name']}}",
                            openTickets: self.tickets.open().length,
                            closedTickets: self.tickets.closed().length,
                            oldestTicket: "oldestTicket",
                            averageAge: "averageAge",
                        },
                    };

                    var source = template(context);
                    $(self.el).html(source);
                    return self;
                },
                setFilter: function(){
                    var self = this;
                    console.log('setFilter...');
                    self.displayOptions = $('#displayOptions').val();
                    self.addAll();
                    $('#displaySearch').val('');
                },
                addOne: function(ticket){
                    var self = this;
                    var view = new TicketView({
                        model: ticket,
                    });
                    $('#layoutTicketList ul', self.el).append(view.render().el);
                },
                addAll: function(){
                    var self = this;
                    var theseTickets;
                    $('.ticketListItem').each(function(){
                        $(this).remove();
                    });
                    if (self.displayOptions == 'open'){
                        theseTickets = self.tickets.where({ticketCompletedOn: 'None'});
                    } else if (self.displayOptions == 'closed'){
                        theseTickets = self.tickets.where({ticketCompletedOn: !'None'});
                    } else if (self.displayOptions == 'all'){
                        theseTickets = self.tickets;
                    } else if (self.displaySearch !== ''){
                        console.log('search...');
                    };
                    theseTickets.forEach(self.addOne);
                },
            });

            $(document).ready(function(){
                manageTickets = new HelpDesk({el: $('#layoutAppHeader')});
            });
        </script>
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <a class="brand" href="#">HBUHSD Help Desk - Ticket Management</a>
                <ul class="nav">
                    <li class="divider-vertical"></li>
                </ul>
            </div>
        </div>
        <div class="container" style="margin-top:50px;">
            <div id="layoutAppHeader" class="row" style="border-radius:15px;border-bottom:10px solid #08c;border-top:10px solid #08c;"></div>
            <div class="row" style="margin-top:10px;">
                <div id="layoutSingleTicket" class="span8"><h3>Select a Ticket</h3></div>
                <div id="layoutTicketList" class="span4">
                    <span><h3>Tickets</h3></span>
                    <ul class="nav nav-pills nav-stacked"></ul>
                </div>
            </div>
            <div class="row">
                <div id="layoutFooter">
                    <div class="footer" style="text-align:center;">
                        <hr>
                        HBUHSD Help Desk via Flask Backbone.js Handlebars.js Twitter Bootstrap on Python/Google App Engine
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

