<!doctype html>
<html>
    <head>
        <title>HBUHSD Help Desk</title>
        <script type="text/javascript" src="/static/js/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery-ui-1.8.20.custom.min.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap-modal.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap-tooltip.js"></script>
        <script type="text/javascript" src="/static/js/underscore-min.js"></script>
        <script type="text/javascript" src="/static/js/backbone-min.js"></script>
        <script type="text/javascript" src="/static/js/handlebars.js"></script>
        <script type="text/javascript" src="/static/js/chosen.jquery.min.js"></script>

        <link rel="shortcut icon" href="/static/favicon.ico" />
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/css/bootstrap-responsive.min.css" />
        <link rel="stylesheet" href="/static/css/jquery-ui-1.8.20.custom.css" />
        <link rel="stylesheet" href="/static/css/chosen.css" />

        <link rel="stylesheet" href="/static/css/Support_Ticket.css" />

        {% raw %}
        <script id="ticketListTemplate" type="text/x-handlebars-template">
            <a href="#">
                <strong>#{{ticket.id}}</strong>
                {{ticket.ticket_type}}
                {{ticket.submitted_by}}
                {{ticket.submitted_on}}
                <i class="{{icon}} pull-right favMe"></i>
            </a>
        </script>

        <script id="appHeaderTemplate" type="text/x-handlebars-template">
            <div class="row">
                <div class="span8">
                    <h3>Support Tickets For: {{options.username}}</h3>
                    <ul style="list-style: none;">
                        <li><strong>Open Tickets:</strong> {{options.openTickets}}</li>
                        <li><strong>Closed Tickets:</strong> {{options.closedTickets}}</li>
                        <!--<li><strong>Oldest Ticket:</strong> {{options.oldestTicket}}</li>
                        <li><strong>Average Age:</strong> {{options.averageAge}}</li>-->
                    </ul>
                </div>
                <div id="filterOptions" class="span3" style="border-left:10px solid #08c;padding-left:10px;padding-bottom:10px;">
                    <h3>Display Settings</h3>
                    <select id="displayOptions">
                        <option value="open">Open</option>
                        <option value="closed">Closed</option>
                        <option value="all">All</option>
                    </select>
                    <br>
                    <input id="displaySearch" class="input" type="text" placeholder="Filter Term"/>
                </div>
            </div>
        </script>

        <script id="singleTicketTemplate" type="text/x-handlebars-template">
            <div class="span3">
                <h3>Notes:</h3>
                <ul id="ticketNotes" style="list-style: none;">
                    {{#each notes}}
                    <li class="ticketNote" rel="tooltip" title="{{this.submitted_by}}"><i class="icon-remove removeMe" note-id="{{this.id}}" style="margin-right:5px;"></i>{{this.message}}</li>
                    {{/each}}
                    <li id="addNote"><h6>Add Note...</h6></li>
                </ul>
            </div>
            <div class="span4">
                <h3>Ticket: {{ticket.id}} For: {{ticket.submitted_by}}</h3>
                <p><strong>Submitted On:</strong> {{ticket.submitted_on}}</p>
                <p><strong>User:</strong> {{ticket.user_type}}</p>
                <p><strong>Equipment:</strong> {{ticket.type}}</p>
                <p><strong>Room/Building:</strong> {{ticket.macro}}</p>
                <p><strong>In Room:</strong> {{ticket.micro}}</p>
                <p><strong>Completed By:</strong> {{ticket.completed_by}}</p>
                <p><strong>Completed On:</strong> {{ticket.completed_on}}</p>
                <p><strong>Description:</strong> {{ticket.description}}</p>
                <hr>
                <div style="text-align:center;">
                    <select data-placeholder="Elevation Metadata..." class="chzn-select span3">
                    {{#each options.elevatedMeta}}
                        <optgroup label="{{name}}">
                        {{#types}}
                            <option>{{this}}</option>
                        {{/types}}
                        </optgroup>
                    {{/each}}
                    </select>
                    <br>
                    <button id="elevateMe" style="margin-top:10px;" class="btn{{options.elevatedDisabled}}">{{options.elevatedText}}</button>
                </div>
                <hr>
                <div style="text-align:center;">
                    <select data-placeholder="Closure Meta..." multiple class="chzn-select span3">
                    {{#each options.completeMeta}}
                        <option>{{this}}</option>
                    {{/each}}
                    </select>
                    <br>
                    <button id="closeMe" class="btn btn-primary">Close Ticket</button>
                </div>
            </div>
        </script>
        {% endraw %}

        <script>
            var META_LIST = [
                {
                    "name": "Alarm Security",
                    "types": [
                    "CCTV Security",
                    "Fire Alarm",
                    "Security System",
                    ]
                },
                {
                    "name": "Audio Visual",
                    "types": [
                    "Camera",
                    "CCTV TV System",
                    "DVD",
                    "TV",
                    "Pro VCR",
                    ]
                },
                {
                    "name": "Communication",
                    "types": [
                    "Networking",
                    "Network Equipment",
                    "Telephone Install",
                    "Telephone Repair",
                    "Two-Way Radio",
                    "Voice Mail Repair",
                    ]
                },
                {
                    "name": "Computer System",
                    "types": [
                    "Computer",
                    "Computer Upgrade",
                    "IT Install Kit",
                    "IT Lockdown",
                    "Monitor",
                    "PC Install Kit",
                    "PC Lockdown",
                    "Printer",
                    ]
                },
                {
                    "name": "Office Equipment",
                    "types": [
                    "Document Reader",
                    "Time Stamp",
                    "Typewriter",
                    ]
                },
                {
                    "name": "Pa/Clock",
                    "types": [
                    "Clock",
                    "Local PA",
                    "School Main PA",
                    ]
                },
                {
                    "name": "Projectors",
                    "types": [
                    "LCD Projector",
                    "Overhead Projector",
                    "Pole Vault",
                    ]
                },
                {
                    "name": "Other Equipment",
                    "types": [
                    "Score Board",
                    "Theater Dimming System",
                    ]
                },
            ];

            var COMPLETE_META = ["Computer","Printer","Windows","Win95",
                "Win2k","WinXp","WinVista","Win7","Win8","IE","IE6","IE7",
                "IE9","Office","Word","Outlook","Excel","LibreOffice",
                "OpenOffice","Browser","Cookies","History","Icon","Desktop",
                "Reboot","Power Off","Firefox","Chrome","Safari","Opera",
                "Netscape","Mac","Apple","OSX","Tiger","Intel","Dell","HP",
                "Google","Lion","Snow Leopard","SB2000","Citrix","Read180",
                "System44","Plato","Illuminate","Camera","Document Camera",
                "Flash","Java","Virus","Malware","SB2000 Classroom","Google",
                "Gmail","Google Docs","Google Drive","Google Calendar",
                "Google Sites","Scanner","YouTube","Video","Audio CD",
                "Speakers","Sound","Video CD","DVD","Projector","Cable",
                "Ethernet","Wireless","Laptop","PowerSupply","Firewire","USB",
                "Display","iPad","iPod","MacBook","iMac","PowerMac",];

            //ticket model
            var Ticket = Backbone.Model.extend({
                urlRoot: "/ticket",
                initialize: function(){
                    var self = this;
                    self.notes = new Notes({ticketId: self.attributes.id});
                    self.notes.bind("change", function(){
                        self.save();
                    })
                    self.notes.fetch({success: function(){return}});
                },
                elevate: function(){
                    return true;
                },
                closeTicket: function(){
                    return true;
                },
                toggleStar: function(){
                    var self = this;
                    self.save({
                        starred: !self.get("starred"),
                    });
                },
            });

            //note model
            var Note = Backbone.Model.extend({
                urlRoot: function(){
                    var self = this;
                    if (self.get("id")){
                        return '/note';
                    } else {
                        return '/note/'+'new';
                    }
                },
            });

            //notes collection
            var Notes = Backbone.Collection.extend({
                model: Note,
                url: function(){
                    var self = this;
                    return '/notes/'+self.ticketId;
                },
                initialize: function(options){
                    var self = this;
                    self.ticketId = options.ticketId;
                },
                removeNote: function(id){
                    var self = this;
                    self.get(id).destroy();
                    self.fetch({success: function(){return}});
                },
                addNote: function(note){
                    var self = this;
                    var newNote = new Note({
                        for_ticket: self.ticketId,
                        message: note,
                    });
                    newNote.save();
                    self.push(newNote);
                    self.fetch({success: function(){return}});
                },
            });

            //tickets collection
            var Tickets = Backbone.Collection.extend({
                model: Ticket,
                url: '/tickets',
                initialize: function(){
                },
                closed: function(){
                    var self = this;
                    var closedTickets = [];
                    for (var i=1;i<=self.length;i++){
                        if (self.get(i).attributes.completed_on !== 'None'){
                            closedTickets.push(self.get(i));
                        };
                    };
                    return closedTickets;
                },
                open: function(){
                    var self = this;
                    var openTickets = [];
                    for (var i=1;i<=self.length;i++){
                        if (self.get(i).attributes.completed_on == 'None'){
                            openTickets.push(self.get(i));
                        };
                    };
                    return openTickets;
                },
                elevated: function(){
                    var self = this;
                    var elevatedTickets = [];
                    for (var i=1;i<=self.length;i++){
                        if (self.get(i).attributes.elevated){
                            elevatedTickets.push(self.get(i));
                        };
                    };
                    return elevatedTickets;
                },
            });

            //single ticket view in window
            var SingleTicket = Backbone.View.extend({
                events: {
                    "dblclick #addNote": "getNote",
                    "keypress #newNote": "addNote",
                    "dblclick .removeMe": "removeNote",
                    "click #closeMe": "closeTicket",
                    "click #elevateMe": "elevateTicket",
                },
                initialize: function(){
                    var self = this;
                    self.model.bind('all', self.render, self);
                    self.model.notes.bind('all', self.render, self);
                },
                render: function(){
                    var self = this;
                    var thisTicket = self.model.attributes;
                    var theseNotes = [];
                    self.model.notes.forEach(function(note){
                        theseNotes.push(note.attributes);
                    });
                    var source = $('#singleTicketTemplate').html();
                    var template = Handlebars.compile(source);
                    var options = {
                        elevatedButton: function(thisTicket){
                            if(thisTicket.elevated){
                                return ' disabled';
                            } else {
                                return '';
                            }
                        },
                        elevatedText: function(thisTicket){
                            if(thisTicket.elevated){
                                return 'Elevated';
                            } else {
                                return 'Elevate';
                            }
                        },
                        elevatedMeta: META_LIST,
                        completeMeta: COMPLETE_META,
                    }

                    var context = {
                        ticket: thisTicket,
                        notes: theseNotes,
                        options: options,
                    }
                    var source = template(context);
                    $(self.el).html(source);
                    self.delegateEvents();
                    $('.chzn-select').chosen({allow_single_deselect:true});
                    return self;
                },
                closeTicket: function(){
                    console.log('closeTicket...');
                },
                elevateTicket: function(){
                    console.log('elevateTicket...');
                },
                getNote: function(){
                    var self = this;
                    $('#addNote', self.el).remove();
                    $('#ticketNotes', self.el).append('<li id="newNoteList"><input id="newNote" type="text" class="input" /></li>');
                    $('#newNote').focus();
                },
                addNote: function(e){
                    var self = this;
                    var note = $('#newNote', self.el).val();
                    if(!note || e.keyCode !== 13){
                        return;
                    }
                    self.model.notes.addNote(note);
                    self.render();
                },
                removeNote: function(e){
                    var self = this;
                    var thisNote = $(e.srcElement).attr('note-id');
                    self.model.notes.removeNote(thisNote);
                    self.render();
                },
            });

            //ticket view in the list
            var TicketView = Backbone.View.extend({
                tagName: "li",
                className: "ticketListItem",
                events: {
                    "click .closeTicket": "closeTicket",
                    "click": "expandTicket",
                    "click .favMe": "toggleStar",
                },
                initialize: function(){
                    var self = this;
                    self.model.bind('change', self.render, self);
                },
                render: function(){
                    var self = this;
                    var starred = 'icon-star-empty';
                    var thisTicket = self.model.attributes;
                    if (thisTicket.starred){
                        starred = 'icon-star';
                    }
                    var source = $('#ticketListTemplate').html();
                    var template = Handlebars.compile(source);
                    var context = {
                        ticket: thisTicket,
                        icon: starred,
                    }
                    var source = template(context);
                    $(self.el).html(source);
                    $('.chzn-select').chosen({allow_single_deselect:true});
                    return self;
                },
                contextMenu: function(e){
                    e.preventDefault();
                },
                toggleStar: function(){
                    var self = this;
                    self.model.toggleStar();
                },
                expandTicket: function(){
                    var self = this;
                    $('.ticketListItem').each(function(){
                        $(this).removeClass('active');
                    });
                    $(self.el).addClass('active');
                    var thisTicket = new SingleTicket({
                        model: this.model,
                    });
                    $('#layoutSingleTicket').html(thisTicket.render().el);
                    $('.chzn-select').chosen({allow_single_deselect:true});
                },
                closeTicket: function(){
                },
            });

            //base application view
            var HelpDesk = Backbone.View.extend({
                tickets: new Tickets(),
                events: {
                    "change #displayOptions": "setFilter",
                    "keypress #displaySearch": "setSearch",
                },
                initialize: function(options){
                    var self = this;
                    self.displayOptions = 'open';
                    self.displaySearch = '';
                    self.delegateEvents();
        
                    self.tickets.bind('all', self.addAll, self);
                    self.tickets.bind('all', self.render, self);
                    self.tickets.fetch();
                },
                render: function(){
                    var self = this;
                    var source = $('#appHeaderTemplate').html();
                    var template = Handlebars.compile(source);
                    var context = {
                        options: {
                            username: "{{page_params['user_name']}}",
                            openTickets: self.tickets.open().length,
                            closedTickets: self.tickets.closed().length,
                            oldestTicket: "oldestTicket",
                            averageAge: "averageAge",
                        },
                    };

                    var source = template(context);
                    $(self.el).html(source);
                    return self;
                },
                setSearch: function(e){
                    var self = this;
                    if (e.keyCode !== 13){
                        return;
                    };
                    self.displaySearch = $('#displaySearch').val();
                    self.addAll();
                },
                setFilter: function(){
                    var self = this;
                    self.displayOptions = $('#displayOptions').val();
                    self.addAll();
                },
                addOne: function(ticket){
                    var self = this;
                    var view = new TicketView({
                        model: ticket,
                    });
                    $('#layoutTicketList ul', self.el).append(view.render().el);
                },
                addAll: function(){
                    var self = this;
                    var theseTickets;
                    $('.ticketListItem').each(function(){
                        $(this).remove();
                    });
                    if (self.displayOptions == 'open'){
                        theseTickets = self.tickets.filter(function(ticket){
                            return ticket.get("completed_on") == 'None';
                        });
                    } else if (self.displayOptions == 'closed'){
                        theseTickets = self.tickets.filter(function(ticket){
                            return ticket.get("completed_on") !== 'None';
                        });
                    } else if (self.displayOptions == 'all'){
                        theseTickets = self.tickets.filter(function(ticket){
                            return ticket;
                        });
                    }
                    if (self.displaySearch !== ''){
                        if (self.displaySearch.indexOf(',') == -1){
                            var searchTerms = [];
                            searchTerms.push(self.displaySearch);
                        } else {
                            var searchTerms = self.displaySearch.split(',');
                        }
                        for (var i=0;i<=searchTerms.length-1;i++){
                            if (searchTerms[i].indexOf(':') == -1){

                            } else {
                                var separaterIndex = searchTerms[i].indexOf(':');
                                var parameter = searchTerms[i].slice(0, separaterIndex);
                                var argument = searchTerms[i].slice(separaterIndex+1, searchTerms[i].length);
                                switch(parameter){
                                    case 'id':
                                        theseTickets = theseTickets.filter(function(ticket){
                                            return ticket.get("id") == argument;
                                        });
                                        break;
                                    case 'who':
                                        theseTickets = theseTickets.filter(function(ticket){
                                            return ticket.get("submitted_by") == argument;
                                        });
                                        break;
                                    case 'what':
                                        theseTickets = theseTickets.filter(function(ticket){
                                            return ticket.get("type") == argument;
                                        });
                                        break;
                                    case 'where':
                                        theseTickets = theseTickets.filter(function(ticket){
                                            return ((ticket.get("macro") == argument) ||
                                                (ticket.get("micro") == argument));
                                        });
                                        break;
                                    case 'user':
                                        theseTickets = theseTickets.filter(function(ticket){
                                            return ticket.get("user_type") == argument;
                                        });
                                        break;
                                    case 'starred':
                                        theseTickets = theseTickets.filter(function(ticket){
                                            return ticket.get("starred");
                                        });
                                        break;
                                }
                            }
                        }
                    }
                    theseTickets = _.sortBy(theseTickets, function(ticket){
                        return !ticket.get("starred");
                    });
                    theseTickets.forEach(self.addOne);
                },
            });

            $(document).ready(function(){
                manageTickets = new HelpDesk({el: $('#layoutAppHeader')});
            });
        </script>
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <a class="brand" href="#">HBUHSD Help Desk - Ticket Management</a>
                <ul class="nav">
                    <li class="divider-vertical"></li>
                </ul>
            </div>
        </div>
        <div class="container" style="margin-top:50px;">
            <div id="layoutAppHeader" class="row" style="border-radius:15px;border-bottom:10px solid #08c;border-top:10px solid #08c;"></div>
            <div class="row" style="margin-top:10px;">
                <div id="layoutSingleTicket" class="span8">
                    <h3>Select a Ticket</h3>
                </div>
                <div id="layoutTicketList" class="span4">
                    <h3>Tickets</h3>
                    <ul class="nav nav-pills nav-stacked"></ul>
                </div>
            </div>
            <div class="row">
                <div id="layoutFooter">
                    <div class="footer" style="text-align:center;">
                        <hr>
                        HBUHSD Help Desk via Flask Backbone.js Handlebars.js Twitter Bootstrap on Python/Google App Engine
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

